@import "~bootstrap/dist/css/bootstrap.css";

.App {
  text-align: center;
 font-family:'EB Garamond', serif;
 background-color:#D8E5E9 ;
  
}

.h1{
  color: #0a0a0a;
  padding-right:30%;
  padding-bottom: 3%;
}

.continer{
  background: linear-gradient(
       rgba(255,255,255,0.1),
       rgba(255,255,255,0.4)
       ),
      url("https://i.pinimg.com/564x/a2/fe/3c/a2fe3c7072f88227e177f8335b76ea60.jpg");
      background-repeat: no-repeat;
      background-position:center;
      background-size: cover;
      width: 100%;
      height: 100vh;

}
.homee{
padding-top: 20%;
padding-right: 30%;
align-items:flex-start;
}
.add{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  padding-bottom: 5%;
}
.doctor{
  margin: 5%;
}
